
<div class="add-contact-wrapper">
    <form class="add-contact-form">
        <span><h1>Create a new contact</h1> </span>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="tel" name="phoneNumber" id="" placeholder="Phone number">
        <span style="display: inline; float: none;">select the phone operator</span>
        <select id="country" name="country" class="form-control">
            <option value="Orange">Orange</option>
            <option value="MTN">MTN</option>
            <option value="Nexttel">Nexttel</option>
            <option value="Camtel">Camtel</option>
        </select>
        <div class="buttons">
            <input
                type="submit"
                class="create-contact"
                value="Create">
            <input type="reset" class="cancel" value="Cancel">
        </div>
    </form>
</div>