
<div class="summary">
    <div class="{{ names }}" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>Create Account</h1>
          <input type="text" placeholder="First Name" />
          <input type="text" placeholder="Last Name" />
          <input type="tel" placeholder="Phone Number" />
          <input id="myInput" type="password" placeholder="Password" matInput
            showHideInput/>
        </form>

      </div>
      <div class="form-container sign-in-container">
        <form action="">
          <h1>Reset Password</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <input type="password" placeholder="Enter a new password" />
          <input type="password" placeholder="Confirm your new password" />
          <button>Reset</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>My Friend</h1>
            <p>Complete the fieds required to set a new password</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  